@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
}

.container .card {
  height: 320px;
  width: 320px;
  position: relative;
  margin: 15px;
  overflow: hidden;
}

.container .card .imgBox,
.container .card .contentBox {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.container .card .imgBox img {
  object-fit: cover;
}

.container .card .contentBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

.container .card:hover .contentBox::before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.container .card .contentBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .card .contentBox .content {
  padding: 2rem;
  position: relative;
  z-index: 1;
  transform: translateX(-300px);
  transition: transform 0.5s ease-in-out;
}

.container .card:hover .contentBox .content {
  transform: translateX(0);
}

.container .card .contentBox .content h3 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container .card .contentBox .content p {
  font-size: 1em;
  line-height: 1.4em;
  font-weight: 300;
}
